* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #001220;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    background-image: url('../assets/images/bg-header.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 5px 3px;
    z-index: 2;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #001220;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: auto;
    background-color: #001220;
}

nav .link {
    position: fixed;
    top: 4rem;
    left: 37%;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 2px;
    padding: 0;
}

nav ul li {
    margin: 0.2rem auto;
    flex-direction: column;
}
nav ul li:hover{
    border-bottom: 2px solid #C62368;
    transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    border: 2px solid transparent;
    font-weight: 700;
}

.logo {
    font-size: 1rem;
    font-weight: bold;

}

.nav-menu.active {
    display: flex;
}

.logo h1 {
    display: flex;
    align-items: left;
    justify-content: left;
    left: 0;
}

.menu-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    margin-right: 1rem;
    z-index: 1;
}

.menu-icon span {
    display: block;
    height: 5px;
    width: 2rem;
    background: white;
    border-radius: 3px;
    margin: 0.2rem;
    transition: transform 0.3s, opacity 0.3s;
}
.menu-icon.close span:nth-child(1) {
    transform: rotate(40deg);
    margin-left: -3px;
}
.menu-icon.close span:nth-child(2) {
    display: none;
}
.menu-icon.close span:nth-child(3) {
    transform: rotate(-40deg);
    margin-left: -5px;
    margin-top: -7px;
}

button i {
    font-size: 2rem;
    color: #ffffff;
}


.nav-menu {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    margin-top: -0.2rem;
    width: 100%;
    height: 60vh;
    background: linear-gradient(to top left, #C62368, #001220 50%, #E34C67);
    color: #fff;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    text-align: center;
}

.active {
    color: #C62368;
}

.btn {
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(to right, #C62368, #FF7E5F), radial-gradient(circle at top left, #C62368, #FF7E5F);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 10px 20px;
}

.btn:hover {
    border-left-color: #C62368;
    border-top-color: #C62368;
    border-right-color: #FF7E5F;
    border-bottom-color: #FF7E5F;
    background-color: #001220;
    background-image: none;
    cursor: pointer;
    animation: borro 1s linear infinite;
    transition: none;
}

.login {
    background-color: #001220;
    flex-direction: column;
}

.log-btn {
    position: absolute;
    top: 55%;
    left: 40%;
    margin: 2rem 0;
}

.signup {
    position: absolute;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(to right, #C62368, #FF7E5F), radial-gradient(circle at top left, #C62368, #FF7E5F);
    background-origin: border-box;
    background-clip: content-box, border-box;
    top: 72%;
    left: 40%;
    margin: 2rem 0;
}

.btn span {
    display: block;
}

#home {
    height: auto;
    color: #fff;
    font-size: 1.5rem;
    background-image: url('../assets/images/bg-home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 2rem 1rem;
    text-align: start;
}

#home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

#home .content {
    margin-top: 2rem;
    width: 100%;
}

#home .content h1 span {
    color: #C62368;
}

#home .content h1 span:hover {
    color: #FF7E5F;
    transition: 3s ease-in-out;
    cursor: pointer;
}

#home .button .btn {
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    font-size: 1rem;
}

#home .container .image {
    margin-top: 3rem;
    width: 100%;
}

#home .container .image img {
    width: 100%;
    height: 100%;
}

#features {
    color: #fff;
    font-size: 1.5rem;
    background-image: url('../assets/images/bg-features.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0;
}

#features .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
    margin-top: -0.2rem;
    flex-direction: column-reverse;
}

#features i {
    color: #C62368;
    font-size: 2rem;
    margin-right: 1rem;
}

#features .content {
    width: 80% !important;
    padding: 0.5rem;
    font-size: 1rem;
    border-left: 2px solid #C62368;
    border-top: 2px solid #C62368;
    border-right: 2px solid #FF7E5F;
    border-bottom: 2px solid #FF7E5F;
    animation: borro 2s linear infinite;
    box-shadow: 2px 5px 10px #C62368;
}

.feature {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
}

.feature div h3 {
    margin-top: 0;
    margin-left: 0.5rem;
    align-items: flex-start;
}

.feature div p {
    font-size: 0.8rem;
    line-height: 1.5rem;
}

@keyframes borro {
    0% {
        border-left: 2px solid #FF7E5F;
        border-top: 2px solid #C62368;
        border-right: 2px solid #C62368;
        border-bottom: 2px solid #FF7E5F;
    }

    50% {
        border-left: 2px solid #FF7E5F;
        border-top: 2px solid #FF7E5F;
        border-right: 2px solid #C62368;
        border-bottom: 2px solid #C62368;
    }

    75% {
        border-left: 2px solid #C62368;
        border-top: 2px solid #FF7E5F;
        border-right: 2px solid #FF7E5F;
        border-bottom: 2px solid #C62368;
    }

    100% {
        border-left: 2px solid #C62368;
        border-top: 2px solid #C62368;
        border-right: 2px solid #FF7E5F;
        border-bottom: 2px solid #FF7E5F;
    }
}

#features .container .image {
    margin-top: 5rem;
    margin-left: 1rem;
    width: 100%;
}

#features .container .image img {
    width: 100%;
    height: 100%;
}

#about {
    color: #fff;
    background-image: url('../assets/images/bg-features.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: #001220;
}

#about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    flex-direction: column-reverse;
}

#about .container .content {
    width: 100%;
    padding: 1rem;
}

#about .content {
    width: 100%;
}

#about .content h2 {
    margin-left: 1rem;
    font-size: 2rem;
}

#about .content p {
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #fff;
    z-index: 1;
}

#about .container .image {
    margin-left: 1rem;
    width: 100%;
}

#about .container .image img {
    width: 100%;
    height: 100%;
}

#testinomials {
    color: #fff;
    background-image: url('../assets/images/bg-features.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1rem;
}

#testinomials .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#testinomials .heading {
    font-size: 1.2rem;
}

#testinomials .content {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#testinomials .content .card {
    height: auto;
    width: 80%;
}

#testinomials .card {
    width: 100%;
    height: 320px;
    padding: 2rem 2rem;
    margin: 1rem;
    background-image: linear-gradient(to right, #c62367a7, #ff7f5fac), radial-gradient(circle at top left, #c623677d, #ff7f5f89);
    border-left: 2px solid #C62368;
    border-top: 2px solid #C62368;
    border-right: 2px solid #FF7E5F;
    border-bottom: 2px solid #FF7E5F;
    box-shadow: 10px 10px 5px #C62368, 15px 15px 5px #FF7E5F;
    opacity: 0.7;
}

#testinomials .card:hover {
    opacity: 1;
    cursor: pointer;
}

#testinomials .card:active {
    /* width: 30%; */
    height: 220px;
    transform: translateY(5px);
}

#testinomials .card .card-content p {
    text-align: left;
    margin-bottom: 3rem;
    font-size: 1rem;
    font-weight: 800;
}

#testinomials .card .card-content .author {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;

}

#testinomials .card .card-content .author img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #FF7E5F;
}

#testinomials .card .card-content .author .profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    font-weight: 700;
}

#pricing {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

#pricing .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1rem;
    flex-direction: column;
}

#pricing .content .card {
    width: 100%;
    height: auto;
}

#pricing .card {
    width: 25%;
    height: 450px;
    padding: 1.4rem;
    margin: 1rem;
    border-left: 2px solid #C62368;
    border-top: 2px solid #C62368;
    border-right: 2px solid #FF7E5F;
    border-bottom: 2px solid #FF7E5F;
    box-shadow: 10px 10px 5px #C62368, 15px 15px 5px #FF7E5F;
}

#pricing .card .card-content {
    text-align: center;
}

#pricing .card h3 {
    text-transform: uppercase;
    margin: 0.5rem;
    text-shadow: 2px 2px 6px #C62368;
}

#cursor-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle, #c62367cc, rgba(0, 255, 255, 0));
    pointer-events: none;
    cursor: pointer;
    filter: blur(50px);
    z-index: 1;
    transition: transform 0.05s ease;
}

strike {
    color: #C62368;
    margin-right: 1rem;
    font-size: 1.2rem;
}

#pricing .card ul {
    text-align: left;
    margin: 1rem;
}

#pricing .card .btn {
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
}

#pricing .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.get-start {
    padding: 1rem 4rem;
    font-size: 1.8rem;
    border-radius: 3rem;
}

#faq {
    color: #fff;
    font-size: 1rem;
    background-image: url('../assets/images/bg-features.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1rem;
}

#faq .container {
    width: 100%;
}

.question {
    display: flex;
}

.question h3 {
    margin-left: 1rem;
}

.question p {
    margin: 1rem;
    font-family: 1.2rem;
}

#final-cta {
    color: #fff;
    font-size: 1.2rem;
    background-image: url('../assets/images/bg-features.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}

#final-cta .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #C62368;
    border-radius: 1rem;
    width: 100%;
    border: none;
    background-repeat: no-repeat;
    z-index: 1;
}

#final-cta .container p {
    font-size: 1rem;
    font-weight: 600;
}

.button .btn {
    background-color: transparent;
}

#final-cta .btn {
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

footer {
    color: #fff;
    padding: 2rem 1rem;
    margin-top: 0;
    background-image: url('../assets/images/bg-home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer .logo {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.about {
    width: 100%;
    margin: 2rem 0;
}

.about h5 {
    margin: 0.5rem 0;
}

.contact h5 {
    margin: 0.5rem 0;
}

.col-1 {
    width: 100%;
}

.col-2,
.col-3,
.col-4 {
    width: 100%;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footer li {
    list-style-type: none;
    padding: 0.2rem;
}

.footer a {
    text-decoration: none;
    color: #fff;
    padding: 0.2rem;
    font-size: 1rem;
}

.footer a:hover {
    color: #C62368;
}

.social-links {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.social-links a {
    padding: 0.5rem;
}

.copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy i {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    padding: 1rem;
}

.copy i:hover {
    background-color: #2B162F;
    cursor: pointer;
}

hr {
    text-align: center;
    background-color: #C62368;
}

@media (min-width: 920px) {
    header{
        background-size: 100% 100%;
        padding: 1rem 2rem 1rem 2rem;
    }
    .log-btn {
        top: 15px;
        left: 80%;
        /* width: 100%; */
        margin-right: 3rem;
    }
    .nav-menu{
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        /* align-items: center; */
        background-color: #001220;
        position: fixed;
        top: -2rem;
        left: 0;
        width: 100%;
        z-index: 3;
        height: auto;
    }
    nav ul{
        margin-top: -2.5rem;
        flex-direction: row;
    }
    nav ul li{
        margin: 0.2rem 0.5rem;
        
    }

    .login{
    position: fixed;
    top: -2rem;
    left: 85%;
    }
    .menu-icon {
        display: none;
    }

    .signup {
        margin-left: 6rem;
        top: 15px;
        left: 90%;
        /* width: 30%; */
    }
    #home .container, 
    #features .container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0rem 4rem;
    }
    #home .container .content,
    #features .container .content,
    #about .container .content{
        margin: 0 3rem;
        width: 50%;
    }
    #features .container .content{
        margin: 0;
    }
    #home .container .image,
    #features .container .image,
    #about .container .image{
        width: 50%;
    }
   
    #features .container .image img,
    #about .container .image img{
        width: 85%;
    }
    #home .content h1{
        margin: 2rem 0;
        font-size: 2.3rem;
    }
    #home .button{
        margin: 2rem 0;
    }
    #home .button .btn{
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
    #features .content{
        line-height: 3rem;
    }
    #about .container{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 2rem 2rem;
    }
    #about .container .content div h2{
        font-size: 2.2rem;
        margin: 2rem 1rem;
    }
    #about .container .content div p{
        line-height: 2rem;
    }
    #testinomials .heading {
        font-size: 2rem;
        margin: 2rem 0;
    }
    #testinomials .content{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 2rem 0;
    }
    #pricing .content{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 2rem 0;
    }
    #pricing .content .card{
        width: 30%;
        height: 500px;
        margin: 1rem;
    }
    #pricing .button{
        margin: 3rem 0;
    }
    #final-cta .container {
        height: 240px;
        padding: 3rem;
        background-image: url('../assets/images/bg-home.png');
        background-size: 100% 100%;
    }
    #faq .container{
        align-items: center;
        justify-content: center;
    }
    #faq .container .heading{
        text-align: center;
        font-size: 1.8rem;
        margin: 2rem 0;
    }
    #faq .aq{
        width: 50%;
        margin: 3rem auto;
        font-size: 1.2rem;
    }
    #final-cta .container{
        width: 50%;
        margin: 2rem auto;
    }

    footer {
        margin-top: -3rem;
    }
    .footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer ul{
        margin-top: 2rem;
        flex-direction: column;
    }
    .social-links{
        margin: 2rem 0;
        flex-direction: column;
    }
}