body{
    background-color: #001220;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('images/bg-header.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position-x: center;
    background-size: 100% 80%;
    color: #fff;
    padding: 5px 3rem;
    /* text-align: center; */
    position: fixed;
    z-index: 2;
}
nav{
    /* margin-top: 1rem; */
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
nav ul{
    display: flex;
    list-style: none;
    margin: 2px;
    padding: 0;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    /* padding: 10px 20px; */
    border-radius: 20px;
    border: 2px solid transparent;
}
.logo {
    font-size: 1rem;
    font-weight: bold;
  }
  
  /* Hamburger Icon */
  .menu-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
  }
  
  button i {
    /* display: block; */
    font-size: 2rem;
    /* background: white; */
    /* border-radius: 3px; */
    color: #ffffff;
    /* transition: transform 0.3s, opacity 0.3s; */
  }
  
  /* Navigation Menu */
  .nav-menu {
    display: flex; /* Default desktop layout */
    /* gap: 20px; */
  }
  
  /* .nav-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
   */
  /* .nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  } */
.active{
    color: #C62368;
}
.btn{
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(to right, #C62368, #FF7E5F), radial-gradient(circle at top left, #C62368, #FF7E5F);
    background-origin: border-box;
    background-clip: content-box, border-box; 
    padding: 10px 20px;
}
.btn:hover{
    /* background-image: linear-gradient(to right, #FF7E5F, #C62368), radial-gradient(circle at top left, #FF7E5F, #C62368); */
    border-left-color: #C62368;
    border-top-color: #C62368;
    border-right-color: #FF7E5F;
    border-bottom-color: #FF7E5F;
    background-color: #001220;
    background-image: none;
    cursor: pointer;
    animation: borro 1s linear infinite;
    transition: none;
} 
.login{
    background-color: #001220;
}
.log-btn{
    top: 15px;
    right: 200px;
    position: absolute;
}
.signup{
    top: 15px;
    right: 90px;
    position: absolute;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(to right, #C62368, #FF7E5F), radial-gradient(circle at top left, #C62368, #FF7E5F);
    background-origin: border-box;
    background-clip: content-box, border-box;
    /* border-color: #001220; */

}
.btn span{
    /* padding: 10px 20px; */
    display: block;
    /* background-color: #001220; */
}
/* home */
#home{
    /* margin-top: 1rem; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    color: #fff;
    font-size: 1.5rem;
    background-image: url('images/bg-home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 2rem 5rem;
}
#home .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4rem 10rem;
}
#home .content{
    width: 50%;
    /* margin-right: 3rem; */
    /* padding-bottom: 5rem; */
}
#home .content h1 span{
    color: #C62368;
}
#home .content h1 span:hover{
    color: #FF7E5F;
    transition: 2s ease-in-out;
    cursor: pointer;
}
#home .button .btn{
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    font-size: 1.1vw;
    /* width: 40%; */
    /* margin-left: 3rem; */
}
#home .container .image{
    margin-left: 3rem;
    width: 60%;
    /* border: 2px solid #FF7E5F; */
    /* border-radius: 50%; */
    /* height: 100%; */
}
#home .container .image img{
    width: 100%;
    height: 100%;
}


#features{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    color: #fff;
    font-size: 1.5rem;
    background-image: url('images/bg-features.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 2rem;
}
#features .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2rem 10rem;
}
#features i{
    color: #C62368;
    font-size: 2rem;
    margin-right: 1rem;
}
#features .heading{
    width: 80%;
    margin-left: 3rem;
    margin-top: 3rem;
}
#features .content{
    width: 50%;
    margin-left: 4rem;
    padding: 3rem;
    /* margin-top: 10rem; */
    margin-right: 3rem;
    font-size: 1.2rem;
    border-left: 2px solid #C62368;
    border-top: 2px solid #C62368;
    border-right: 2px solid #FF7E5F;
    border-bottom: 2px solid #FF7E5F;
    animation: borro 2s linear infinite;
    box-shadow: 2px 5px 10px #C62368 ;
}
.feature{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.feature div h3{
    margin-top: 0;
    margin-left: 0.5rem;
    align-items: flex-start;
}
.feature div p{
    font-size: 1.1vw;
    line-height: 2rem;
}
@keyframes borro{
    0%{
        /* transform: translateX(0); */
        border-left: 2px solid #FF7E5F;
        border-top: 2px solid #C62368;
        border-right: 2px solid #C62368;
        border-bottom: 2px solid #FF7E5F;
    }
    50%{
        /* transform: translateX(10px); */
        /* transform: translateY(20px); */
        border-left: 2px solid #FF7E5F;
        border-top: 2px solid #FF7E5F;
        border-right: 2px solid #C62368;
        border-bottom: 2px solid #C62368;
    }
    75%{
        /* transform: translateX(-10px); */
        border-left: 2px solid #C62368;
        border-top: 2px solid #FF7E5F;
        border-right: 2px solid #FF7E5F;
        border-bottom: 2px solid #C62368;
    }
    100%{
        /* transform: translateX(0); */
        border-left: 2px solid #C62368;
        border-top: 2px solid #C62368;
        border-right: 2px solid #FF7E5F;
        border-bottom: 2px solid #FF7E5F;
    }
}
#features .container .image{
    margin-top: 5rem;
    margin-left: 3rem;
    width: 50%;
    /* border: 2px solid #FF7E5F; */
    /* border-radius: 50%; */
    /* height: 100%; */
}
#features .container .image img{
    width: 100%;
    height: 100%;
}
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-size: 1.5vw;
    /* background-image: url('images/bg-features.png'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: #001220;
    /* padding: 2rem; */

}
#about .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2rem 10rem;
    overflow: visible;
}
#about .heading{
    width: 80%;
    margin-left: 3rem;
    margin-top: 3rem;
}
#about .container .content{
    /* margin-top: 22rem; */
    width: 50%;
    /* height: 100vh; */
    /* position: relative; */
    /* margin-right: 3rem;
    background-image: url("svg1.svg");
    background-repeat: no-repeat;
    background-size: 100% 110%;
    padding: 2rem; 
    align-items: center;
    justify-content: center;
    animation: bg-; */
  
}
#about .content h2{
    font-size: 2.5vw;
}
.animated-bg {
    position: relative;
    /* overflow: visible; */
  }
  
  .animated-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('svg1.svg');
    background-size: cover;
    background-position: center;
    opacity: 1;
    animation: fadeSvg 8s infinite;
  }
  
  /* .animated-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('svg2.svg');
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeSvg 8s infinite;
  } */
  
  @keyframes fadeSvg {
    0%, 100% {
      /* opacity: 1; */
      
      /* background-image: url('svg1.svg'); */
      background-image: url('svg2.svg');
    }
    50% {
      
      /* opacity: 0; */
        /* background-image: url('svg2.svg'); */
        background-image: url('svg1.svg');
    }
  }
#about .content svg{
    width: 100%;
    height: 100%;
}
#about .content p{
    /* position: absolute; */
    /* top: 18%; */
    /* left: 12%; */
    padding: 0 1rem;
    text-wrap: wrap;
    /* margin-top: 8rem; */
    font-size: 1.2vw;
    /* align-items: center; */
    /* justify-content: center; */
   color: #fff;
    z-index: 1;
    width: 70%;

}
#about .container .image{
    /* margin-top: 5rem; */
    margin-right: 3rem;
    width: 50%;
    /* border: 2px solid #FF7E5F; */
    /* border-radius: 50%; */
    /* height: 100%; */
}
#about .container .image img{
    width: 100%;
    height: 100%;
}
#testinomials{
    text-align: center;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    color: #fff;
    font-size: 1.5vw;
    background-image: url('images/bg-features.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5rem 3rem;
}
#testinomials .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5rem 2rem;
}
#testinomials .card{
    width: 20%;
    height: 320px;
    padding: 3rem 2rem;
    margin: 1rem;
    background-image: linear-gradient(to right, #c62367a7, #ff7f5fac), radial-gradient(circle at top left, #c623677d, #ff7f5f89);
    /* background-color: #001220; */
    border-left: 2px solid #C62368;
    border-top: 2px solid #C62368;
    border-right: 2px solid #FF7E5F;
    border-bottom: 2px solid #FF7E5F;
    box-shadow: 10px 10px 5px #C62368, 15px 15px 5px #FF7E5F;
    opacity: 0.5;
}
#testinomials .card:hover{
    opacity: 1;
    cursor: pointer;
}
#testinomials .card:active{
    padding: 4rem 5rem;
    width: 30%;
    height: 220px;
}
#testinomials .card .card-content p{
    text-align: left;
     margin-bottom:3rem ;
}
#testinomials .card .card-content .author{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
    
}
#testinomials .card .card-content .author img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#pricing{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    color: #fff;
    font-size: 1.5vw;
    background-image: url('images/bg-features.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5rem 3rem;
}
#pricing .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5rem 2rem;
}
#pricing .card{
    width: 25%;
    height: 450px;
    padding: 1rem;
    margin: 1rem;
    /* background-image: linear-gradient(to right, #C62368, #FF7E5F), radial-gradient(circle at top left, #C62368, #FF7E5F); */
    /* background-color: #001220; */

    border-left: 2px solid #C62368;
    border-top: 2px solid #C62368;
    border-right: 2px solid #FF7E5F;
    border-bottom: 2px solid #FF7E5F;
    box-shadow: 10px 10px 5px #C62368, 15px 15px 5px #FF7E5F;
}
#pricing .card .card-content{
    text-align: center;
}
#pricing .card h3{
    /* text-align: center; */
    text-transform: uppercase;
    margin-top: 0;
    /* color: #C62368; */
    text-shadow: 2px 2px 6px #C62368;
}
#cursor-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle, #c62367cc, rgba(0, 255, 255, 0));
    pointer-events: none;
    cursor: pointer;
    filter: blur(50px); 
    z-index: 1;
    transition: transform 0.05s ease;
}
strike{
    color: #C62368;
    margin-right: 1rem;
    font-size: 2.5vw;
}
#pricing .card ul {
    text-align: left;
    margin-bottom: 1rem;
}
#pricing .card .btn{
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}
#pricing .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.get-start{
    padding: 1rem 4rem;
    font-size: 3vw;
    border-radius: 3rem;
}
.heading{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5vw;
    background-image: url('images/bg-features.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5rem 3rem;
}
#faq .container{
    width: 50%;
}
.question{
    display: flex;
}
.question h3{
    margin-top: 0;
    margin-left: 1rem;
}
.question p{
    margin-left: 1rem;
}
#final-cta{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    color: #fff;
    font-size: 1.5vw;
    background-image: url('images/bg-features.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5rem 3rem;
}
#final-cta .container{
    text-align: center;
    border: 1px solid #C62368;
    border-radius: 1rem;
    width: 650px;
    height: 240px;
    padding: 3rem;
    background-image: url('images/bg-home.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
}
.button .btn{
    background-color: transparent;
}
#final-cta .btn{
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-left: 1rem;
}
footer{
    color: #fff;
    padding: 2rem 1rem;
    /* position: relative; */
    margin-top: -15rem;
    border-top: 1px solid #C62368;
    background-image: url('images/bg-home.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}
.footer .logo{
    margin: 2rem 0;
    font-size: 3vw;
    font-weight: 700;
}
.about{
    width: 50%;
    margin: 2rem 0;
}
.col-1{
    width: 50%;
}
.col-2, .col-3, .col-4{
    width: 25%;
    margin-top: 4rem;
}
.footer li{
    list-style-type: none;
    padding: 0.2rem;
}
.footer a{
    text-decoration: none;
    color: #fff;
    padding: 0.2rem;
    font-size: 1vw;
}
.footer a:hover{
    color: #C62368;
}
.social-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}
.copy i{
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50% ;
    padding: 1rem;
}
.copy i:hover{
    
    background-color: #2B162F;
    cursor: pointer;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    nav{
        background-color: #001220;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;  
    }
    nav ul{
        flex-direction: column;
    }
    .menu-icon {
      display: flex; /* Show hamburger icon on mobile */
    }
  
    .nav-menu {
      display: none; /* Hide navigation menu by default */
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #001220;
      /* background-color: #007bff; */
      flex-direction: column;
      gap: 10px;
      padding: 20px 0;
      text-align: center;
    }
  
    .nav-menu.active {
      display: flex; /* Show menu when active */
    }
    #home{
        text-align: start;
        height: auto;
        flex-direction: column;
        padding: 2rem 1rem;
        width: 100%;
        
    }
    #home .container{
        flex-direction: column;
        align-items: center;
    }
    #home .content{

        width: 100%;
    }
    #features .container{
        flex-direction: column-reverse;
    }
    #about .container{
        flex-direction: column;
    }
    #about .content{
        width: 100%;
    }
    #testinomials .content{
        flex-direction: column;
    }
    #testinomials .content .card{
        height: auto;
        width: 80%;
    }
    #pricing .content{
        flex-direction: column;
    }
    #pricing .content .card{
        width: 100%;
        height: auto;
    }
  }